.icon-menu {
  font-size: 40px;
}

ul.menu {
  display: none;
}
.menu li {
  display: inline;

}

@media only screen and (min-width: 640px){
  .icon-menu {
    display: none;
  }

  ul.menu {
    display: block;
  }

  .menu li {
    display: inline-block;
  }
}
