
#home-container {
  padding-top: 30%;

}

#about-container {
display: none;

}

#map-container {
  display: none;
}

#about-container h1{
  font-weight: bold;
}

.mapwrapper {
  position: relative;
}

.top-bar{
  border-bottom: 1px solid black;
}

@media only screen and (min-width: 640px){

  #home-container {
    padding-top: 20%;
  }

}
