.mapwrapper {
  position: relative;
}


.overlay {
  height: 90%;
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  background: grey;
  z-index: 1;
  opacity: .8

}

#home-container {
  padding-top: 30%;

}

#map-container {
  display: none;
}


@media only screen and (min-width: 640px){

  .overlay {
      width: 200px;
  }

  #home-container {
    padding-top: 20%;
  }


}
